*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav{
    height:12vh;
    background-color:#ffff;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;

}
.logo{
    height:50px;
    width:180px;
    margin: 20px;

}
.nav-con{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}
.nav-con h1{
    font-size: 22px;
    color: #3368bd;
    margin-right: 15px;
}
.bt{
    color:#3368bd;
    font-size: 20px;
    background-color:transparent;
    border:1px solid #3368bd;
    font-weight: 600;
    border-width: 0px;
}
.container{
    height: 150vh;
   width: 100vw;
    background-image: url("./Resources/images.jpg");
    background-size:cover;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    color:#fff;
    padding-top: 60px;

}
.myinfo{
    text-decoration: none;
}
.button {
    background-color:transparent;
    font-family: "Roboto";
    font-size: 18px;
    width: 20%;
    color: #ffff;
    border-width: 0;
    border: none;
    padding: 10px;
    font-size: 22px;
    /* border-radius: 8px; */
}

.selected-button {
    background-color:#ffff;
    border: none;
    color:black;
    font-size: 22px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px ;
    width: 20vw;
}
.dispaly{
    display: none;
}
.btn-con{
    /* background-image:linear-gradient(-90deg,#0c749a,#30aed8);    */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width:81vw; */
    /* padding: 10px; */
}
h1{
    margin: 20px;
}
.course-content{
    margin: 20px;
    height:30vh;
    width:80vw;
    font-family: "Roboto";
    color:#ffffff;
    font-size: 15px;
    border: 1px solid #ffff;
    border-radius: 5px;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.course-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.course_img{
    height:30vh;
    width:20%;
    text-align: center;
    margin-right: 10px;
}